$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icmshoe: "\e900";
$icmtelephone: "\e901";
$icmtextile: "\e902";
$icmyoutube: "\e903";
$icmarrow-point-to-right: "\e904";
$icmdish: "\e905";
$icmenvelope-shape: "\e906";
$icmeye-open: "\e907";
$icmmagnifying-glass: "\e908";
$icmphoto-camera: "\e909";
$icmphoto-of-a-landscape: "\e90a";
$icmplaceholder-filled-point: "\e90b";
$icmsearch: "\e90c";
$icmshirt: "\e90d";

